@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --background: #EEEEEE;
  --foreground: #1A1C14;
  --primary: #5C6F2B;
  --secondary: #DE802B;
  --content1: #D8C9A7;
  --divider: rgba(0, 0, 0, 0.1);
}

.dark {
  --background: #1A1C14;
  --foreground: #EEEEEE;
  --content1: #25281B;
  --divider: rgba(255, 255, 255, 0.1);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-content1: var(--content1);
  --color-divider: var(--divider);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}